body {
  font-family: 'Roboto', sans-serif;
  color: var(--SLATE, #434455);
  background-color: var(--WHITE, #fff);
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover,
a:focus {
  color: var(--OCEAN, #404bbf);
}
button {
  cursor: pointer;
  background-color: var(--IRIS, #4d5ae5);
}
button:hover,
button:focus {
  background-color: var(--OCEAN, #404bbf);
}

/* Header */
.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo .accent {
  color: var(--NAVY-BLUE, #2e2f42);
}
.page-nav .link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.page-nav .link:hover,
.page-nav .link:focus {
  color: var(--OCEAN, #404bbf);
}
.contacts {
  font-style: normal;
}
.contact-info .contact-link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-info .contact-link:hover,
.contact-info .contact-link:focus {
  color: var(--OCEAN, #404bbf);
}

/* Hero section */
.hero-section {
  background-color: var(--NAVY-BLUE, #2e2f42);
}
.hero-section .hero-title {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.hero-section .order-service {
  font-family: inherit;
  color: var(--WHITE, #fff);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

/* Our benefits */
.benetits-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.benefirs-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Our team */
.our-team {
  background-color: var(--CLOUD, #f4f4fd);
}
.team-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-member {
  background-color: var(--WHITE, #fff);
}
.team-member .team-member-name {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-member .team-member-position {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Portfolio */
.portfolio {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio-item {
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  background-color: var(--WHITE, #fff);
}
.portfolio-item-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-item-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */
.footer {
  background-color: var(--NAVY-BLUE, #2e2f42);
}
.logo-footer {
  color: var(--IRIS, #4d5ae5);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-footer .accent-footer {
  color: var(--CLOUD, #f4f4fd);
}
.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2em;
}
